doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
        title #{headTitle} - Video with
    body
        include partials/header.pug
        main
            block body_content
        include partials/footer

    script(src="/static/js/main.js")
    
    block scripts
        