doctype html
html(lang="en")
    head
        link(rel="stylesheet", type="text/css", href="https://unpkg.com/mvp.css")
        title #{headTitle} - Video with
    body
        header
            h1=bodyTitle
            nav 
                ul 
                    li 
                        a(href="/") Home
                    li 
                        a(href="/search") Search
                    li 
                        a(href="/video/upload") Upload Video
                    if signin 
                        li 
                            a(href="/my-profile") #{signinUser.name}'s Profile
                        li 
                            a(href="/user/signout") Sign Out
                    else
                        li 
                            a(href="/signin") Sign In
                        li 
                            a(href="/signup") Sign Up
                    block nav
        main
            block body_content
        include partials/footer