doctype html
html(lang="ko")
    head
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        title #{headTitle} - Video with
    body
        header
            h1=bodyTitle
        main
            block body_content
        include partials/footer