extends base.pug

block body_content 
    video(src="/" + video.videoPath, controls)
    div
        p=video.description
        small=video.createdAt 
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr; 