header
    a(href="/").header__logo
        h1 Video with
    nav 
        ul 
            li
                a(href="/search")
                    i.fas.fa-search
            if signin 
                li 
                    a(href="/video/upload") Upload Video
                li
                    a(href="/user/edit") Edit Profile
                li 
                    a(href="/user/signout") Sign Out
                li
                    a(href=`/user/${signinUser._id}`)
                        if signinUser.profilePicturePath === ""
                            span 🙃
                        else if signinUser.profilePicturePath.includes("github")
                            img.header__avatar(src=signinUser.profilePicturePath)
                        else
                            img.header__avatar(src="/" + signinUser.profilePicturePath)

            else
                li 
                    a(href="/signin") Sign In
                li
                    a(href="/signup").header__btn  Sign Up
