extends ../base.pug

block body_content
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(placeholder="Old Password", type="password", name="oldPwd")
        input(placeholder="New Password", type="password", name="newPwd")
        input(placeholder="New Password Confirmation", type="password", name="newPwdConf")
        input(type="submit", value="Change Password")